<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Robot</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="static/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />

  <script src="https://unpkg.com/nipplejs@0.7.1/dist/nipplejs.min.js" defer></script>
  <script src="static/js/main.js" defer></script>
</head>
<body>
  <div class="buttons">
    <div class="button up"><i class="arrow arrow-up"></i></div>
    <div class="button down"><i class="arrow arrow-down"></i></div>
    <div class="button left"><i class="arrow arrow-left"></i></div>
    <div class="button right"><i class="arrow arrow-right"></i></div>
  </div>
  <div class="joystick hidden"></div>
  <div class="toggle-container">
      <span class="text">Buttons</span>
      <div class="switchbox">
          <label class="switch">
              <input type="checkbox" name="switch-input"/>
              <div></div>
            </label>
      </div>
      <span class="text">Joystick</span>
  </div>
  <div id="motions" class="motions" style="display:none"></div>
</body>
</html>
